* {
    margin: 0;
    padding: 0;
    background: #000;
    color: #fff;
    box-sizing: border-box;
}

.content {
    position: relative;
    margin: 10% auto 0;
    width: 70%;
    height: 350px;
    background: linear-gradient(0deg, black, rgb(41, 41, 41));

    display: flex;
    justify-content: center;
    align-items: center;
   

 
}
.glow::before , .glow::after {
    content: '';
    position: absolute;
    left: -2px;
    top: -2px;
    background: linear-gradient(45deg, #e6fb04, #ff6600, #00ff66, #00ffff, #ff00ff, #ff0099, #6e0dd0, #ff3300, #099fff );
    background-size: 350%;
    width: calc(100% + 5px);
    height: calc(100% + 5px);
    z-index: 1;
    animation: animate 20s linear infinite;
}

.h2 {
    background: #000;
    width: calc(100% + 1px);
    height: calc(100% + 1px);
    z-index: 2;

    display: flex;
    justify-content: center;
    align-items: center;
    
}
.follow {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100%;
   height: 40vh;
   position: relative;

}
.follow .ul  {
    list-style: none;
    letter-spacing: 2px;
    padding: 10px;
    
}
.follow .a:hover {
    background-color: blue;
    color: red;
    padding: 5px;
}
.follow .li .a {
    
    font-size: 20px;
    text-decoration: none;
   
}

.glow::after {
    filter: blur(20px);
    opacity: 0.8px;
}

@keyframes animate{
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: 400% 0;

    }
    100% {
        background-position: 0 0;
    }
    
}

